#fontstyle {
    font-family: 'Special Elite', cursive;
    font-family: 'Josefin Slab', serif;
    /*
   background-image: url("pics/Natural-Paper-Background-Texture-Vintage.jpg");
    background-repeat: no-repeat;
    */
    background-color: rgb(20, 14, 75);
}


#banner {
    background: rgb(119, 20, 20);
    opacity: 0.9;
}


.content {
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.content_box {
    min-height: 40px;
    margin: auto;
}