body {
    font-family: 'Special Elite', cursive;
    font-family: 'Josefin Slab', serif;
   /* 
   background-image: url("pics/Natural-Paper-Background-Texture-Vintage.jpg");
    background-repeat: no-repeat;
    */
    background-color: beige;
}


.navbar {
    /*
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    */
    border-bottom: 2px;
    height: 80px;
}

.navbar_box {
    float: left;
    display: block;
    padding: 14px;
    font-size: 20px;
}

.navbar_box h3 {
    text-align: left;
    text-decoration: underline;
    font-size: 26px;
    margin: 0 0;
}

.services {
    margin: 20px 0;
}

.services_box {
    float: left;
    display: block;
    font-size: 20px;
}


.services_box h3 {
    text-align: left;
    font-size: 26px;
    margin: 0 0;
}

.banner {
    background: rgb(119, 20, 20);
    opacity: 0.9;
    padding: 10px 0px;
    text-align: center;
    
}

.banner h2 {
    font-size: 40px;
}

.banner h1 {
    font-size: 60px;
    
}

.content {
    min-height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.content_box {
    min-height: 40px;
    margin: auto;
}