#fontstyle {
    font-family: 'Special Elite', cursive;
    font-family: 'Josefin Slab', serif;
    background-image: url("pics/artdeco_purpleferns_crop.jpg");
    background-size: 35%;
    background-repeat: repeat;
    background-color: rgb(20, 14, 75);
}

.active {
    text-decoration: underline;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#page-container {
    flex: 1;
}


#banner {
    background: rgb(119, 20, 20);
    opacity: 0.9;
}
